/*Formateamos margenes de elementos principales*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*Eliminamos style list*/
a {
    text-decoration: none;
}

.nav-menu {
    width: 70%;
}

.main-nav {
    background: #ececec;
    color: #ffffff;
    height: auto;
    font-family: sans-serif;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/*logo*/
.nav-title {
    width: 30%;
    background-color: #ececec;
    padding: 13px 18px;
    text-align: center;
}

ul {
    background-color: #ececec;
    list-style: none;
    margin: 0;
    padding-left: 0;

    /*Texto y elementos del nav*/
    display: flex;
    justify-content: flex-center;
    white-space: nowrap;

    ;
}

li {
    color: #ececec;
    background:#ececec;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a {
    columns: #000000;
}

/*Selectores child*/
.nav-menu ul li {
    border-top: none;
}
.nav-menu ul li ul.dropdown li:first-child {
    border-top: none;
}
.nav-menu ul li ul.dropdown li {
    border-top: 1px solid #333333;
}
.nav-menu ul li a {
    padding: 10px 20px;
}

li:hover {
    background: red;
    cursor: pointer;
}

ul li ul {
    background: #ececec;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul, /* this is the line we add */
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  
}

/*Color text*/
.nav-menu ul li a:hover {
    color:#2b51b9;
}

ul li ul li {
    clear: both;
    width: 100%;
}

/*Responsive*/
